params{
    summary_stats = 'testdata/saige_results_covid_1.csv'
    snp_col_name = 'SNPID'
    pval_col_name = 'p.value'
    sample_size = 150
    ref_panel_bed = 'g1000_eur.bed'
    ref_panel_bim = 'g1000_eur.bim'
    ref_panel_fam = 'g1000_eur.fam'
    ref_panel_synonyms = 'g1000_eur.synonyms'
    gene_loc_file = 'testdata/NCBI37.3/NCBI37.3.gene.loc'
    set_anot_file = 'testdata/c2.cp.reactome.v7.1.entrez.gmt'
    outdir = 'results_test_sumstat'
}
