/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/gwasgsa -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal PLINK test dataset input to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 2.GB
  max_time = 2.h

  // Input data
  plink_bed = 'testdata/plink_out.bed'
  plink_bim = 'testdata/plink_out.bim'
  plink_fam = 'testdata/plink_out.fam'
  gene_loc_file = 'testdata/NCBI37.3/NCBI37.3.gene.loc'
  set_anot_file = 'testdata/c2.cp.reactome.v7.1.entrez.gmt'
  outdir = 'results'
}
